{% include base_path %}
<!-- start custom head snippets -->
<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>
<!-- favicon: agave -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/favicon-180.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/favicon-16.png"/>
<link rel="icon" href="{{ base_path }}/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>
<style>.page__footer { display: none; }</style>
<!-- end custom head snippets -->
